/* Scss Document */

$colors: (
	primary: #004466,
	primary-light: lighten(#004466, 40%),
	primary-dark: darken(#004466, 40%),
	second: #016699,
	third: #99CCCC,
	forth: #E4E5E6,
	fith: #D95E1F
);


$desktop: 840px;
@mixin desktop{
	@media screen and (min-width: #{$desktop}){
		@content;
	}
}

@function color($color-name){
	@return map-get($colors, $color-name)
}


body{
	margin: 0;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-weight: 400;
}

/*------   Nav Styles  ------*/
header{
	background-color: color(primary);
	text-align: center;
	z-index: 999;
	position: fixed;
	padding: 10px;
	width: 100%;
	@include desktop{
		display: grid;
		grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
	}
	
	.logo{
		display: inline-block;
		width: 200px;
		@include desktop{
			grid-column: 2 / 3;
		}
	}
	.navToggle{
		display: none;
	}
	.navToggleLable{
		position: absolute;
		top: 0;
		left: 0;
		margin-left: 2em;
		height: 100%;
		display: flex;
		align-items: center;
		@include desktop{
			display: none;
		}
		
		span,span::before,span::after{
			display: block;
			background: white;
			height: 2px;
			width: 2em;
			border-radius: 2px;
			position: relative;
		}
		span::before,span::after{
			content: '';
			position: absolute;
		}
		span::before{
			bottom: 7px;
		}
		span::after{
			top: 7px;
		}
	}
	nav{
		position: absolute;
		text-align: left;
		top: 100%;
		left: 0;
		width: 100%;
		background-color: color(primary);
		transform: scale(1,0);
		transform-origin: top;
		transition: transform 400ms ease-in-out;
		@include desktop{
			all: unset;
			grid-column: 3 / 4;
			display: flex;
			justify-content: flex-end;
			align-items:center;
		}
		ul{
			margin: 0;
			padding: 0;
			list-style: none;
			@include desktop{
				display: flex;
				
			}
			
			li{
				margin-bottom: 1em;
				margin-left: 1em;
				@include desktop{
					margin-left: 3em;
					margin-bottom: 0;
				}
				
				a{
					color: color(forth);
					text-decoration: none;
					font-size: 1.2rem;
					text-transform: uppercase;
					opacity: 0;
					transition: opacity 250ms ease-in-out;
					@include desktop{
						opacity: 1;
						position: relative;
					}
					
				}
					
				a:hover{
					color: color(fith);
				}
				a::before{
					@include desktop{
						content: '';
						display: block;
						height: 3px;
						background: color(fith);
						position: absolute;
						top: -0.75em;
						left: 0;
						right: 0;
						transform: scale(0,1);
						transition: transform ease-in-out 250ms;
					}
				}
				a:hover::before{
					@include desktop{
						transform: scale(1,1);
					}
				}
				
			}
		}
	}
	.navToggle:checked ~ nav{
		transform: scale(1,1);
		
		a{
			opacity: 1;
			transition: opacity 250ms ease-in-out 250ms;
		}
	}
	
}

.pL,.p,.PD{
	width: 100%;
	height: 50px;
	display: block;
}
.pL{
	padding-top: 250px;
	background-color: color(primary-light);
}
.p{
	padding-top: 250px;
	background-color: color(primary);
}
.pD{
	padding-top: 250px;
	background-color: color(primary-dark);
	color: white;
}